Footer {
    background-color: white;
    padding: 1rem;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    font-weight: 600;
    align-items: center;
}

.copyright {
    padding-block: 0.5rem;
    flex: 1;
}

.contact {
    display: flex;
    gap: 1rem;
    font-size: small;
    padding-inline: 2rem;
}

.card {
    padding-inline: 0.5rem;
    display: flex;
    padding-block-start: 0.25rem;
    text-align: center;
    flex-direction: column;
}

.card a {
    padding-block-start: 0.75rem;
}

.social {
    display: flex;
}

.icon {
    width: 20px;
    /* Adjust the size of the logo */
    height: 20px;
    padding-inline: 0.25rem;
    padding-block: 0.25rem;
    /* Adjust the size of the logo */
}

.icon:hover {
    border-radius: 50%;
    background-color: #e9e9e9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
}