/* Header.css */
nav {
    background-color: #ffff;
    display: flex;
    align-items: center;
    margin: 0;
    padding-block: 0.5rem;
    padding-inline: 0.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.left-section {
    flex: 1;
    font-weight: bold;
    padding: 1rem;
    font-size: larger;
    display: flex;
    align-items: center;
}

.left-section::before {
    content: '\25A0';
    padding-right: 0.5rem;
    font-size: small;
}

.logo {
    width: 25px;
    /* Adjust the size of the logo */
    height: 25px;
    padding-inline: 0.5rem;
    /* Adjust the size of the logo */
}

.right-section {
    display: flex;
    font-weight: 600;
}

.university {
    font-size: medium;
}

ul {
    list-style-type: none;
    display: flex;
    font-size: medium;
    padding-inline-end: 2rem;
}

ul li {
    padding-inline: 1.25rem;
    padding-block: 0.5rem;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
    width: max-content;
    /* Add transition property for smooth effect */
}

ul li:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #EDE9E1;
    /* Apply box shadow on hover */
}

ul li a {
    text-decoration: none;
    color: black;
    overflow: hidden;
}